services:
  db:
    image: postgres:16
    container_name: db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    networks:
      - workflow

  # === Django Service ===
  web:
    build: .
    container_name: web
    command: python django-project/manage.py runserver 0.0.0.0:3000
    volumes:
      - .:/django-app
    working_dir: /django-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - workflow

  jupyterhub:
    build: ./django-project/neuroworkflow
    container_name: jupyterhub
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - ./django-project/neuroworkflow/jupyterhub_config.py:/srv/jupyterhub/jupyterhub_config.py:ro
      - jupyterhub-data:/srv/jupyterhub
    restart: unless-stopped
    networks:
      - workflow

volumes:
  postgres_data:
  jupyterhub-data:

networks:
  workflow:
    name: neuro-workflow_workflow
