services:
  web:
    build: .
    command: python django-project/manage.py runserver 0.0.0.0:3000
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"

  jupyter:
      build:
        context: .
        dockerfile: Dockerfile.jupyter
      container_name: jupyter-lab
      ports:
        - "8888:8888"
      volumes:
        - ./django-project:/app
      working_dir: /app
      depends_on:
        - db        # JupyterLab から DB にアクセスしたい場合
        - web       # 必要なら web にも依存関係を追加
      command: >
        jupyter lab
        --ip=0.0.0.0
        --allow-root
        --no-browser
        --NotebookApp.token='oistworkflow1234'
        --NotebookApp.password=''
        --notebook-dir=/app

volumes:
  postgres_data:
